%h1= "Användare"

%table.user
  %thead
    %tr
      %th= "Katalog-id"
      %th= "Namn"
      %th= "E-post"
      %th{ :colspan => 2 }= "Roll"
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.displayname
        %td= user.email
        %td= user.is_admin ? "Administratör" : "Informatör"
        %td= link_to 'Växla roll', toggle_admin_user_path(user), :method => :put
        %td= link_to 'Ta bort', user, confirm: 'Vill du ta bort användaren?', :method => :delete
%ul.actions
  %li= link_to "Lägg till användare", new_user_path, class: "btn btn-primary"
