<% # There's a problem using HAML for this one -%>

<% new_attachments = @nursing_home.attachments.collect { |i| i.new_record? ? true : false } %>

<h2>Bilagor</h2>
<p class="image-instructions upload">Här kan du ladda upp PDF- och Excel-filer för kvalitetsuppföljning av verksamheten. Filerna får inte vara större än 1MB.</p>

<% if new_attachments.include?(false) %>
  <div class="form-row clearfix">
    <div class="attachements clearfix">
      <%= f.fields_for :attachments do |asset_fields| %>
        <% unless asset_fields.object.new_record? %>
          <div class="check-radio">
            <%= asset_fields.label :attachment_link_text, "Länktext:*" %>
            <%= asset_fields.text_field :attachment_link_text, class: "attachements-field" %>
            <%= asset_fields.check_box :_destroy %>
            <%= asset_fields.label :_destroy, "Ta bort" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="form-row clearfix">
  <div class="label">Lägg till bilagor:</div>
  <% if new_attachments.include?(true) %>
    <div class="uploads attachements">
      <%= f.fields_for :attachments do |asset_fields| %>
        <% if asset_fields.object.new_record? %>
          <%= asset_fields.label :attachment_link_text, "Länktext:*" %>
          <%= asset_fields.text_field :attachment_link_text, class: "attachements-field" %>
          <%= asset_fields.file_field :attachment, class: "file" %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="image-instructions">
      Du kan maximalt använda <%= APP_CONFIG["max_number_of_attachments"] %> bilagor. 
      För att byta ut någon av bilagorna ovan tar du först bort de bilagor du vill byta ut och klickar på spara.
    </p>
  <% end %>
</div>
