.actions.top
  = link_to 'Visa alla boenden', root_path, class: "btn btn-small"
%h1.title Jämför äldreboenden
#compare
  - unless @nursing_homes
    %p.no-records= link_to 'Lägg först till de äldreboenden du vill jämföra till "Min lista."', root_path
  - else
    %table.full.wrap
      %thead
        %tr
          %td.xy
          - @nursing_homes.each do |nursing_home|
            %th{ :class => "item-#{nursing_home.id}" }= link_to nursing_home.name, nursing_home
      %tbody
        %tr
          %td.first
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }
              - if nursing_home.images.present?
                = image_tag nursing_home.images.first.image.url(:thumb), :alt => nursing_home.name
        %tr
          %td.first
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id} remove" }
              .remove.btn.btn-small{ "data-id" => nursing_home.id }= "Ta bort"
        %tr
          %th Adress:
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }= nursing_home.address
        %tr
          %th Stadsområde:
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }= nursing_home.neighborhood
        %tr
          %th Lägenheter:
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }= nursing_home.seats
        %tr
          %th Hyra:
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }= nursing_home.rent
        %tr
          %th Typ av boende:
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }
              - nursing_home.categories.each do |c|
                = c.name
                %br
        %tr
          %th Organisationsform:
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }= NursingHome::OWNER_TYPES[nursing_home.owner_type]
        %tr
          %th Entreprenör:
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }= nursing_home.owner

        %tr
          %th.sub-heading{ :colspan => @nursing_homes.length + 1 }
            = "Kvalitetsmätning enligt brukare"

        %tr= compare_quality @nursing_homes, :quality_average
        %tr= compare_quality @nursing_homes, :quality_environment
        %tr= compare_quality @nursing_homes, :quality_safety
        %tr= compare_quality @nursing_homes, :quality_consideration
        %tr= compare_quality @nursing_homes, :quality_food
        %tr= compare_quality @nursing_homes, :quality_activities

        %tr
          %th= "Mätning genomförd: "
          - @nursing_homes.each do |nursing_home|
            %td{ :class => "item-#{nursing_home.id}" }=  nursing_home.survey_year

.actions
  = link_to 'Visa alla boenden', root_path, class: "btn btn-small"
