%main
  - if current_user
    .actions.top
      = link_to add_icon_text, new_nursing_home_path, class: "btn btn-small btn-primary"
  - cache do
    %h1.body-copy= "Hitta & jämför äldreboenden"
    = render 'filter'

    %menu.switch-view
      %li#as-list.active
        %a{ href: nursing_homes_path }
          %span.icon-list.icon-large
          Visa som lista
      %li#as-map
        %a{ href: nursing_homes_path }
          %span.icon-map-marker.icon-large
          Visa på karta

    %ul.results
      - @nursing_homes.each do |nursing_home|
        %li{ data_dashes(nursing_home), class: ("drafted" if nursing_home.draft) }
          .image
            - if nursing_home.images.present?
              = link_to image_tag(nursing_home.images.first.image.url(:thumb), :alt => nursing_home.name), nursing_home
          .summary
            %h2.body-copy= link_to nursing_home.name, nursing_home
            .compare-check
              = check_box_tag "compare-#{nursing_home.id}", nursing_home.id, false, "data-compare" => nursing_home.id
              = label_tag "compare-#{nursing_home.id}", "Lägg till i Min lista"
            %p.neighborhood= nursing_home.neighborhood
            %p.owner-type= nursing_home.categories.map(&:name).join(", ")
            %p.body-copy.description= truncate(strip_tags(nursing_home.description), :length => 200)

  #map

  - if current_user
    .actions
      = link_to add_icon_text, new_nursing_home_path, class: "btn btn-small btn-primary"
