.main.show.body-copy{ class: ("drafted" if @nursing_home.draft) }
  .actions.top
    = link_to 'Visa alla boenden', root_path, class: "btn btn-small"
    - if current_user
      = link_to 'Redigera', edit_nursing_home_path(@nursing_home), class: "btn btn-small"

  - cache @nursing_home do
    %h1= @nursing_home.name
    #map
    .description
      = raw sanitize @nursing_home.description, tags: %w(h2 p)

    / eri-no-index
    #slideshow
      %menu
        %li.prev Föregående
        %li.next Nästa
        %li.count
      .images
        - @nursing_home.images.each do |img|
          = image_tag img.image.url(:medium), alt: @nursing_home.name

    .compare-check
      = check_box_tag "compare-#{@nursing_home.id}", @nursing_home.id, false, "data-compare" => @nursing_home.id
      = label_tag "compare-#{@nursing_home.id}", "Lägg till i Min lista"
    = link_to "Visa på karta", "#map", class: "show-on-map btn btn-small",
        data: { poi: @nursing_home.address, "map-selector" => "#map", "scroll-to" => ".main h1" }
    //eri-no-index

    %dl.details
      %dt Boendestandard:
      %dd= simple_format @nursing_home.standard

      %dt Lägenheter:
      %dd= @nursing_home.seats

      %dt Hyra:
      %dd= @nursing_home.rent

      %dt Stadsområde:
      %dd= @nursing_home.neighborhood

      %dt Typ av boende:
      - @nursing_home.categories.each do |c|
        %dd= c.name

      %dt Organisationsform:
      %dd= NursingHome::OWNER_TYPES[@nursing_home.owner_type]
      - if @nursing_home.owner_type === 'private'
        %dt Entreprenör:
        %dd= @nursing_home.owner
        %dt Webbadress:
        %dd= link_to @nursing_home.url, @nursing_home.url

    %h2 Kvalitetsmätning enligt brukare
    - if @nursing_home.quality_environment.blank?
      %p= "Inga resultat finns att redovisa."
    - else
      .quality
        = quality_indicator @nursing_home, :quality_average
        = quality_indicator @nursing_home, :quality_environment
        = quality_indicator @nursing_home, :quality_safety
        = quality_indicator @nursing_home, :quality_consideration
        = quality_indicator @nursing_home, :quality_food
        = quality_indicator @nursing_home, :quality_activities
      %p.note= "Mätning genomförd #{@nursing_home.survey_year}."

    %h2 Andra äldreboenden i närheten
    %ul.nearby
      - @nearby_homes.each do |key, value|
        %li= link_to "#{value[:name]} (#{ number_to_human( value[:distance], units: :distance, precision: 2 )})", nursing_home_path(key)

    - if @nursing_home.attachments.present?
      %h2 Bilagor
      %ul.attachments
        - @nursing_home.attachments.each do |a|
          %li
            = link_to a.attachment_link_text, File.join(root_path, a.attachment.url)
            = "(#{a.attachment_content_type == 'application/pdf' ? 'PDF' : 'Excel'}, #{number_to_human_size a.attachment_file_size})"

    %p.note.updated= "Informationen om äldreboendet uppdaterades #{ @nursing_home.updated_at.strftime('%Y-%m-%d') }."

  .actions.bottom
    = link_to 'Visa alla boenden', root_path, class: "btn btn-small"
    - if current_user
      = link_to 'Redigera', edit_nursing_home_path(@nursing_home), class: "btn btn-small"
