%ul.actions
  %li.tiny-button= link_to 'Visa alla boenden', root_path

- if current_user
  #additional-bottom-show
    %ul.actions
      %li.tiny-button= link_to 'Redigera', edit_nursing_home_path(@nursing_home)
      %li.tiny-button= link_to 'Ta bort', nursing_home_path(@nursing_home), confirm: 'Vill du ta bort äldreboendet?', :method => :delete

- cache @nursing_home do
  %h1= @nursing_home.name
  .record{ class: ("drafted" if @nursing_home.draft) }
    .description
      = raw sanitize @nursing_home.description, tags: %w(h2 p)
    / eri-no-index
    #slideshow.clearfix
      %ul.controls.clearfix
        %li.prev Föregående
        %li.next Nästa
        %li.count
      .images.clearfix
        - @nursing_home.images.each do |img|
          = image_tag img.image.url(:medium), :alt => @nursing_home.name
    .compare-check
      = check_box_tag "compare-#{@nursing_home.id}", @nursing_home.id, false, "data-compare" => @nursing_home.id
      = label_tag "compare-#{@nursing_home.id}", "Lägg till i Min lista"
    .show-on-map.tiny-button= link_to "Visa på karta", "http://www.malmo.se/karta?poi=#{u(@nursing_home.address)}&center=#{@nursing_home.geo_position_x},#{@nursing_home.geo_position_y}&zoomlevel=4&maptype=karta", :title => @nursing_home.address, :id => "show-address-on-map"
    //eri-no-index

    %dl.details
      %dt Boendestandard:
      %dd= simple_format @nursing_home.standard

      %dt Lägenheter:
      %dd= @nursing_home.seats

      %dt Hyra:
      %dd= @nursing_home.rent

      %dt Stadsområde:
      %dd= @nursing_home.neighborhood

      %dt Typ av boende:
      - @nursing_home.categories.each do |c|
        %dd= c.name

      %dt Organisationsform:
      %dd= NursingHome::OWNER_TYPES[@nursing_home.owner_type]
      - if @nursing_home.owner_type === 'private'
        %dt Entreprenör:
        %dd= @nursing_home.owner
        %dt Webbadress:
        %dd= link_to @nursing_home.url, @nursing_home.url

    %h2 Kvalitetsmätning enligt brukare
    - if @nursing_home.quality_environment.blank?
      %p= "Inga resultat finns att redovisa."
    - else
      .quality
        = quality_indicator @nursing_home, :quality_average
        = quality_indicator @nursing_home, :quality_environment
        = quality_indicator @nursing_home, :quality_safety
        = quality_indicator @nursing_home, :quality_consideration
        = quality_indicator @nursing_home, :quality_food
        = quality_indicator @nursing_home, :quality_activities

    %h2 Andra äldreboenden i närheten
    %ul.nearby
      - @nearby_homes.each do |key, value|
        %li= link_to "#{value[:name]} (#{ number_to_human( value[:distance], :units => :distance, :precision => 2 )})", nursing_home_path(key)

    - if @nursing_home.attachments.present?
      %h2 Bilagor
      %ul.attachments
        - @nursing_home.attachments.each do |a|
          %li
            = link_to a.attachment_link_text, File.join(root_path, a.attachment.url)
            = "(#{a.attachment_content_type == 'application/pdf' ? 'PDF' : 'Excel'}, #{number_to_human_size a.attachment_file_size})"

    %p.note.updated= "Informationen om äldreboendet uppdaterades #{ @nursing_home.updated_at.strftime('%Y-%m-%d') }."


%ul.actions
  %li.tiny-button= link_to 'Visa alla boenden', root_path

- if current_user
  #additional-bottom-show
    %ul.actions
      %li.tiny-button= link_to 'Redigera', edit_nursing_home_path(@nursing_home)
      %li.tiny-button= link_to 'Ta bort', nursing_home_path(@nursing_home), confirm: 'Vill du ta bort äldreboendet?', :method => :delete

= content_for :travel do
  = render 'layouts/travel-box'
