!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= page_title
    /[if IE]
      %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    /[if lte IE 8]
      = javascript_include_tag "#{APP_CONFIG['assets_url_base']}html5shiv-printshiv.js"
    = stylesheet_link_tag "#{APP_CONFIG['assets_url_base']}malmo.css", media: 'all'
    = stylesheet_link_tag "application", media: 'all'
    /[if lte IE 7]
      = stylesheet_link_tag "#{APP_CONFIG['assets_url_base']}legacy/ie7.css", media: 'all'
    %link{ rel: 'icon', type: 'image/x-icon', href: "#{APP_CONFIG['assets_url_base']}favicon.ico" }
    = csrf_meta_tag
  %body{ class: "#{@body_classes} malmo-form nursing-homes" }
    .wrapper
      /eri-desc
      %ol.breadcrumbs
        %li.home= link_to 'malmo.se','http://www.malmo.se/'
        %li= link_to 'Hitta & jämför äldreboenden', root_path
      //eri-desc

      - flash.each do |key, value|
        %p{ class: "flash #{key}" }= value

      = yield

      - if current_user
        %ul#user-menu
          %li.displayname= "Inloggad som #{current_user.displayname}"
          - if current_user.is_admin
            %li.users= link_to 'Hantera användare', users_path
          %li.logout= link_to "Logga ut", logout_path

      - unless params[:controller] == "nursing_homes" && params[:action] == "compare"
        %aside
          = render 'layouts/contact-box'
          - cache "compare-box" do
            = render 'layouts/compare-box'

    %script
      = "var CKEDITOR_BASEPATH = '#{root_path}ckeditor/';"
      = "var appPath = '#{root_path}';"
      = "var nursingHomePath = '#{nursing_homes_path}/';"
      = "var apiPath = '#{api_nursing_homes_path}/';"
      = "var mapUrl = '#{APP_CONFIG['map_url']}';"
    = javascript_include_tag "#{APP_CONFIG['assets_url_base']}malmo.js"
    = javascript_include_tag "application"
