!!! 5
%html
  %head
    %meta{'charset'=>'utf-8'}
    %title= page_title
    - cache "assets" do
      = render 'layouts/assets'
    = csrf_meta_tag
  %body{ :class => "nursing-homes#{@body_classes}" }
    .wrap-all
      = raw @masthead
      .main
        .columns-2
          .content-wrapper
            .content-wrapper-1
              .content-wrapper-2
                .content-wrapper-3
                  .content-wrapper-4
                    .content-wrapper-5
                      .content-wrapper-6
                        .application
                          - if current_user
                            %ul#user-menu
                              %li.displayname= "Inloggad som #{current_user.displayname}"
                              - if current_user.is_admin
                                %li.users= link_to 'Hantera användare', users_path
                              %li.logout= link_to "Logga ut", logout_path
                          - cache "breadcrumbs" do
                            = render "layouts/breadcrumbs"
                          .main-content-nursing_homes
                            = render "layouts/flash", :flash => flash
                            = yield
          - unless params[:controller] == "nursing_homes" and params[:action] == "compare"
            .aside
              = render 'layouts/contact-box'
              - cache "compare-box" do
                = render 'layouts/compare-box'
              = yield :travel
